<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title> Document</title>
</head>
<body>

   <%-include('./partials/header.ejs') %>

<main>

    <section id="cards"> 

   <% pokedex.forEach((pokedex) => { %>

      <div class="card">
        <img src = "<%= pokedex.imagem %>" alt="">
        <h2> <%= pokedex.nome %> </h2>
      
        <p> Tipo : <stan id = "descricao"> <%= pokedex.tipo %> </stan> </p>
        <p> Categoria: <stan id="categoria"> <%= pokedex.categoria %> </stan> </p>
        <p> Código: <stan id="codigo"> <%= pokedex.numero %> </stan> </p>
        
        <a href="detalhes/<%= pokedex.id %>"> Detalhes </a>

      </div>
  <% }) %>

</main>

<%- include('./partials/footer.ejs') %>

</body>
</html> 